body{
  background-color: darkgray;
  position: relative;
  min-height: 100vh;
  font-family: arial, sans-serif;
}
.imgheader{
  width: 100%;
}
h1{
  color: white;
  font-size: 400%;
  position: absolute;
  left: 1.5%;
  top: 9.7cm;
}
h4{
  font-family: arial, sans-serif;
  color: black;
  font-size: 300%;
  text-align: center;
  margin-top: 4%;
  margin-bottom: 20px;
}
nav{
  text-transform: uppercase;
  margin-left: 16%;
  background-color: gray;
  max-width: 99%;
  max-height: 15mm;
  border-radius: 5px;
}
.menu{
  font-family: arial, sans-serif;
  float: left;
  padding-right: 17%;
}
.troll{
  font-size: xx-large;
  margin-top: 16%;
  margin-left: 35%;
}
article{
  float: left;
}
.art1{
  font-size: 18px;
  max-width: 70%;
  text-align: justify;
}
.art2{
  font-size: 18px;
  max-width: 70%;
  text-align: justify;
}
h2{
  font-size: 30px;
}
a{
  color: black;
}

/*--- début config footer ---*/

.fpgo{
  position: absolute;
  top: 165%;
  margin-bottom: 2cm;
  width: 100%;
  text-align: center;
  height: 2.5rem;
}
.fpgj{
  position: absolute;
  top: 107%;
  margin-bottom: 2cm;
  width: 100%;
  text-align: center;
  height: 2.5rem;
}
.fpgi{
  position: absolute;
  top: 140%;
  margin-bottom: 2cm;
  width: 100%;
  text-align: center;
  height: 2.5rem;
}
.fpgc{
  position: absolute;
  top: 105%;
  margin-bottom: 2cm;
  width: 100%;
  text-align: center;
  height: 2.5rem;
}

/*--- fin config footer ---*/

aside{
  background-color: gray;
  padding: 3mm;
  border: 2px solid black;
  border-radius: 4px;
  position: absolute;
  top: 80%;
  max-width: 21%;
  left: 75%;
}
.lsommaire{
  font-size: 20px;
  padding-bottom: 8px;
}
.lsombutton{
  font-size: large;
  background-color: black;
  color: white;
  border: 2px solid black;
  border-radius: 5px;
}
.sommaire{
  padding-top: 3%;
  max-width: 17%;
}
caption{
  font-size: 30px;
  font-family: arial, sans-serif;
  margin-bottom: 3%;
}
.tabope{
  float: left;
}
.att{
  margin-top: 4%;
  border: 2px solid black;
  margin-bottom: 20px;
}
.def{
  margin-top: 2%;
  border: 2px solid black;
}
#infodetail{
  margin-top: 4.45%;
  border: 2px solid black;
  border-radius: 2px;
  padding: 4px;
  text-align: justify;
  background-color: gray;
  font-size: 125%;
  position: absolute;
  left: 50%;
  width: 40%;
  margin-bottom: 20px;
}
/*--- page contact ---*/
h5{
  font-size: xx-large;
  margin-left: 10cm;
}
h6{
  font-size: xx-large;
  position: absolute;
  right: 12cm;
  top: 16cm;
}
.imglogo{
  border-radius: 30px;
}
.aprop{
  text-align: justify;
  width: 7.9cm;
  position: absolute;
  top: 19.5cm;
  right: 10cm;
}
.fcontact{
  margin-left: 10cm;;
}
.divlabel{
  float: left;
}
.label1{
  display: block;
  text-align: left;
  margin-bottom: 12px;
}
.input1{
  display: block;
  margin-bottom: 10px;
  width: 190px;
  border: 1.3px solid black;
}
.divlabel{
  display: inline-block;
  float: left;
  margin-right: 5px;
}
.bouttonv{
  margin-top: 4px;
  margin-left: 6%;
}
.valid{
  font-size: 20px;
  background-color: green;
  border: 2px solid green;
  border-radius: 5px;
}
.raz{
  font-size: 20px;
  background-color: darkred;
  border: 2px solid darkred;
  border-radius: 5px;
}
/*--- fpage contact ---*/

.stjeu{
  font-weight: bold;
}


/*-----page jeu-----*/
audio{
  position: absolute;
  top: 19cm;
  right: 1cm;
}
.ltheme{
  position: absolute;
  top: 18.5cm;
  right: 2.5cm;
}
.soulignespan{
  text-decoration: underline;
}
.lmode{
  padding-bottom: 5px;
}
.modes{
  text-align: justify;
  max-width: 95%;
  margin-left: 2.5%;
  margin-top: 4%;
}
.vidtra{
  margin-left: 29.5%;
  margin-top: 2%;
}
/*---- page opé----*/
.suivo{
  position: absolute;
  top: 40cm;
  right: 2cm;
  width: 2cm;
  height: 1cm;
  border-radius: 10px;
  }
.preco{
  position: absolute;
  top: 40cm;
  left: 2cm;
  width: 2cm;
  height: 1cm;
  border-radius: 10px;
}

/*---- fpage opé ----*/

.suivc{
  position: absolute;
  top: 28.3cm;
  right: 2cm;
  width: 2cm;
  height: 1cm;
  border-radius: 10px;
  }
.precc{
  position: absolute;
  top: 28.3cm;
  left: 2cm;
  width: 2cm;
  height: 1cm;
  border-radius: 10px;
}
.suivi{
  position: absolute;
  top: 34cm;
  right: 2cm;
  width: 2cm;
  height: 1cm;
  border-radius: 10px;
  }
.preci{
  position: absolute;
  top: 34cm;
  left: 2cm;
  width: 2cm;
  height: 1cm;
  border-radius: 10px;
}
.suivj{
  position: absolute;
  top: 45.5cm;
  right: 2cm;
  width: 2cm;
  height: 1cm;
  border-radius: 10px;
  }
.precj{
  position: absolute;
  top: 45.5cm;
  left: 2cm;
  width: 2cm;
  height: 1cm;
  border-radius: 10px;
}
